body{
    background-image: url("https://static.vecteezy.com/system/resources/previews/005/851/552/original/beautiful-green-color-gradient-background-free-vector.jpg");
    min-height: 100vh;
}
nav{
    background-color: black
}
.container{
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: auto;
}
.dark h3{
    text-align: center;
    margin-top: 50px;
    color: gray
}
.button{
    display: flex;
    align-items: center;
    justify-content: center;
}
.col-lg-4{
    border-radius: 5px;
    background: black;
    height: 500px;
    width: 500px;
    margin: 150px;
}
.col-lg-4 input{
    margin-left: 50px;
    width: 400px;
}
.col-lg-4 label{
    margin-left: 55px;
    font-family: monospace;
    color: gray;
}
.col-lg-4 span{
    margin-left: 55px;
    font-size: small;
    color: darkgray;
}
