<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Lista</title>
</head>
<body>
  <div class="container">
    <h1>Lista de Contatos</h1>
      <div>
        <input type="text" class="form-control" [(ngModel)]="nContato" placeholder="Digite seu nome">
      </div>
      <div>
        <input type="text" class="form-control" [(ngModel)]="tContato" placeholder="Digite seu telefone">
      </div>
      <div>
        <button class="btn btn-primary" (click)="salvarDados">Enviar</button>
      </div>
      <div></div>
        <p>Nome: {{nContato}}</p>
      </div>
        <p>Telefone: {{tContato}}</p>
      
    </div>
  <br>
</body>
</html>